[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SandipIP
	label-Code-Review = -1..+1 group user/SandipIP
[access "refs/for/refs/*"]
	read = group user/SandipIP
	push = group user/SandipIP
	label-Code-Review = -1..+1 group user/SandipIP
	label-Verified = group user/SandipIP
	rebase = group user/SandipIP
	removeReviewer = group user/SandipIP
	submit = group user/SandipIP
	labelAs-Code-Review = -1..+1 group user/SandipIP
	labelAs-Verified = group user/SandipIP
[access "refs/heads/*"]
	read = group user/SandipIP
	create = group user/SandipIP
	push = +force group user/SandipIP
	pushMerge = group user/SandipIP
[access "refs/tags/*"]
	push = +force group user/SandipIP
	pushTag = group user/SandipIP
	pushSignedTag = group user/SandipIP
